absl-py==1.0.0
astunparse==1.6.3
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
grpcio==1.48.2
h5py==3.1.0
idna==3.2
importlib-metadata==4.8.1
Keras-Preprocessing==1.1.2
Markdown==3.3.4
numpy
oauthlib==3.1.1
omegaconf==1.4.1
opt-einsum==3.3.0
pandas==1.3.2
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
python-dateutil==2.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.27.0
requests-oauthlib==1.3.0
rsa==4.7.2
scipy==1.11.3
six==1.15.0
SoundFile==0.12.1
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
termcolor==1.1.0
tqdm
typing-extensions==4.1.1
urllib3==1.26.6
Werkzeug==2.0.1
wrapt==1.12.1
zipp==3.5.0
dataset_loader
librosa==0.8.1
hydra-core==0.11.3